@import url(./bootstrap.css);
.nav-item{
    color:aliceblue;
}

.images{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 100%;
}

.images img{
    max-width: 100%;
    height: 100%;
    margin-right: -5px;
}

.login{
  padding: 40px;
  background: linear-gradient( rgb(66, 75, 242), rgb(17, 236, 244));
}

.login label{
  font-size: 150%;
  font-weight: 600;
  color: #fff;
}
.login input{
  font-size: 130%;
}

.sec{
    margin-top: -10%;
}

.bookings{
    padding: 60px;
    background: linear-gradient(rgb(17, 236, 244), rgb(66, 75, 242))
}

.checkin{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    height: 60px;
    font-size: 140%;
}

.text{
    position: absolute;
    top: 10%;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 40px;
    font-weight: 600;
    font-style:normal ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


  .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin-left: 0px;
    padding: 20px;
    background-color: #f8f8f8;
    width: 500%;
  }
  
  
  .left {
    flex: 1; 
  }
  
  
  .heading {
    margin-bottom: 30px; 
  }
  
  .heading h1 {
    font-size: 36px; 
    margin-bottom: 10px; 
  }
  
  .heading h2 {
    font-size: 24px; 
    color: #3f3d3d; 
  }
  
  
  p {
    line-height: 1.8; 
  }
  
  
  .primary-btn {
    background-color: #30bcbf;
    color: #fff; 
    padding: 12px 24px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    
  }
  
 
  .right {
    flex: 1; 
    overflow-x: auto ;
    
  }
  
  .right img {
    width: 100%; 
    border-radius: 10px; 
    margin-right: 20px;
}
  
.head {
  text-align: center; 
  padding: 4%;
}

.head h1 {
  font-size: 36px; 
  color: black; 
  margin-bottom: 10px; 
}

.head h2 {
  font-size: 24px; 
  color: gray; 
}

  .picture {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .picture div {
    flex: calc(600px - 20px); 
    margin: 10px; 
    text-align: center; 
  }
  
  .picture img {
    max-width: 100%; 
    border-radius: 8px;
  }
  
  .roomDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#6beeff, #547ef3); 
    border-radius: 15px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); 
    padding: 30px; 
  }
  
  .details {
    flex: 1; 
  }
  
  .title {
    font-size: 28px; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 15px; 
  }
  
  .capacity, .description, .price {
    font-size: 20px; 
    color: #363535; 
    margin-bottom: 15px; 
  }
  
  .price {
    font-weight: bold;
  }
  
  .bookbtn {
    background-color: #070994; 
    border: none;
    color: white;
    padding: 15px 25px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; 
    border-radius: 8px; 
    cursor: pointer;
  }
  
  .bookbtn:hover {
    background-color: #2ebac7; 
  }
  